<div class="leftside-menu">
    <br />
    <br />
    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
        <span class="logo-lg">
            <img src="https://res.cloudinary.com/djlqp41lf/image/upload/v1700939008/Rental_Logo_gg454l.png" style="width:150px; height:150px;"  alt="logo">
        </span>
        <span class="logo-sm">
            <img src="https://res.cloudinary.com/djlqp41lf/image/upload/v1700939008/Rental_Logo_gg454l.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="https://res.cloudinary.com/djlqp41lf/image/upload/v1700939008/Rental_Logo_gg454l.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="https://res.cloudinary.com/djlqp41lf/image/upload/v1700939008/Rental_Logo_gg454l.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">


            <li class="side-nav-item">
                <a href="/AdminDashboard/Index" class="side-nav-link">
                    <i class="ri-dashboard-3-line"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Brand/Index" class="side-nav-link">
                    <i class="mdi mdi-car-select"></i>
                    <span> Marken </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Car/Index" class="side-nav-link">
                    <i class="mdi mdi-car"></i>
                    <span> Fuhrpark </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/AdminCarPictures/Index" class="side-nav-link">
                    <i class="ri-camera-2-fill"></i>
                    <span> Fotos hinzufügen </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/CarStatus/Index" class="side-nav-link">
                    <i class="mdi mdi-car-wrench"></i>
                    <span> Fuhrpark Status</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/CarDetail/Index" class="side-nav-link">
                    <i class="mdi mdi-car-info"></i>
                    <span> Fahrzeugdetails</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/AdminRentals/Index" class="side-nav-link">
                    <i class="ri-star-fill"></i>
                    <span> Buchungen</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Service/ServiceList" class="side-nav-link">
                    <i class="mdi mdi-wrench"></i>
                    <span> Service</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Comment/Index" class="side-nav-link">
                    <i class="ri-message-2-line"></i>
                    <span> Kommentare</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/HowItWorks/Index" class="side-nav-link">
                    <i class="ri-git-commit-line"></i>
                    <span> Schritte</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Home/Index" target="_blank" rel="noopener noreferrer" class="side-nav-link">
                    <i class=" ri-edge-new-fill"></i>
                    <span> Zur Webseite</span>
                </a>
            </li>
        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>