@model List<Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}

<h1>Services</h1>

<div class="card">
<div class="card-body">
    <div class="table-responsive-sm">
        <table class="table table-bordered border-primary table-centered mb-0">
            <thead>
                <tr>
                        <th>#</th>
                        <th>Service</th>
                    <th class="text-center">Aktion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        count++;
                        <tr>
                        <td>@count</td>
                        <td>@item.Title</td>
                        <td class="text-center">
                            <a href="/Service/DeleteService/@item.ServiceID" class="text-reset fs-16 px-1" data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Löschen">
                                <i class="ri-delete-bin-2-line"></i>
                            </a>
                            <a href="/Service/UpdateService/@item.ServiceID" class="text-reset fs-16 px-1" data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Ändern">
                                <i class="ri-edit-line"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
    </div>
<a href="/Service/AddService" class="btn btn-outline-primary">Neu Marke <i class=" ri-add-circle-line"></i></a>
