
@{
    ViewData["Title"] = "CarDetails";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<div class="container">
    @await Component.InvokeAsync("_CarPicturesComponentsPartial", new { id = ViewBag.id })
<div class="site-section">
        <div class="row">
           
            <div class="col-md-8 blog-content">
                <p class="lead">@TempData["CarDetails"]</p>
                <div class="pt-5">

                    @await Component.InvokeAsync("_CarDetailCommentComponentPartial", new {id=ViewBag.id})
                    <!-- END comment-list -->
                    @await Component.InvokeAsync("_CarDetailLeaveCommentPartial", new { id = ViewBag.id })
                </div>

            </div>
            <div class="col-md-4 sidebar">
                <div class="sidebar-box">
                </div>
                @await Component.InvokeAsync("_CarDeatailCategoryComponentPartial")

                @await Component.InvokeAsync("_CarDetailAboutAuthorComponentPartial", new {id=ViewBag.id})

            </div>
        </div>
    </div>
</div>

