@model Price
@{
    ViewData["Title"] = "CreatePrice";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Preis hinzufügen</h1>

<form method="post">
    <label>Fahrzeug</label>
    @Html.DropDownListFor(x=>x.CarID,(List<SelectListItem>)ViewBag.car, new{@class="form-control", @style="border: 1px solid #2222  "})
    <br />
    <label>Zahlungsart</label>
    <input type="text" asp-for="PriceType" class="form-control" style="border: 1px solid #2222  " />
    <br />
    <label>Preis</label>
    <input type="text" asp-for="PriceValue" class="form-control" style="border: 1px solid #2222"   />
    <br />
    <button class="btn btn-primary">Hinzufügen</button>
</form>