@model CarBook.EntityLayer.Concrete.Brand
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Neue Marke Hinzufügen</h1>

<form method="post">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" asp-for="BrandName"
                           placeholder="Marke">
                    <label for="floatingInput">Marke</label>
                </div>
            </div>
        </div>
    </div>
    <button id="btnAddBrand" class="btn btn-outline-primary">Hinzufügen <i class="ri-add-circle-line"></i></button>
</form>



<script>
    const addBrandButton = document.querySelector('#btnAddBrand');
    const formBrand = addBrandButton.closest('form');

    addBrandButton.addEventListener('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Hinzugefügt",
            text: "Marke wurde erfolgreich hinzugefügt",
            imageUrl: "https://res.cloudinary.com/djlqp41lf/image/upload/v1700939008/Rental_Logo_gg454l.png",
            imageWidth: 300,
            imageHeight: 200,
            imageAlt: "Firmen Logo"
        }).then(function () {
            formBrand.submit();
        });
    });
</script>