@model CarBook.EntityLayer.Concrete.Brand
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Marke Ändern</h1>

<form method="post">
    <div class="card-body">
        <div class="row">
            <input type="hidden" asp-for="BrandID" />
            <div class="col-lg-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" asp-for="BrandName"
                           placeholder="Marke">
                    <label for="floatingInput">Marke</label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-primary">Ändern <i class="ri-edit-line"></i></button>
</form>


